body {
    display: flex;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

@font-face {
  font-family: 'Norse';
  src: url('font/Norse.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


aside {
    background-image: url('image/inventory.jpg');
    background-size: cover;
    background-position: center;
    flex: 1;
    flex-direction: column;
    display: flex;
}

.logo {
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    width: 100%;
    gap: 40px;
    background-color: #75757571;
}

.logo img {
    width: 50px;
    height: 90px;
}

.logo h1 {
    color: rgb(0, 0, 0);
    font-size: 4rem;
    font-family: 'Norse', sans-serif;
}

.right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
}

main {
    width: 60%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #d4bc87e0;
}

section {
    width: 100%;
    margin: 0 auto;
}

.intro {
    text-align: justify;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: medium;
    padding: 20px;
    font-family: calimero, sans-serif;
}

.form-container {
    background-color: #d4bc87e0;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.form-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form-group label {
    font-weight: medium;
    font-family: verdana;
    font-size: 14px;
}

.form-group input {
    padding: 8px 16px;
    border: 1px solid #5e5c5c;
    border-radius: 4px;
}

input:focus {
    outline: none;
    border: 1px solid blue;
    box-shadow: 0 0 5px rgba(0, 0, 255, 0.5);
}

input:user-invalid {
    border-color: red;
}

.footer button {
    background-color: rgb(233, 120, 14);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    width: 100%;
}

.footer button:hover {
    background-color: rgb(255, 140, 0);
    cursor: pointer;
}

.footer p {
    text-align: center;
    font-size: 16px;
    color: #333;
}

